/* Add a black background color to the top navigation */
.topnav {
    background-color: #6a5620;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 99px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #6a5620;
    color: white;
  }
  
  body{
    background-color: rgb(50, 8, 8);
  }

 
.bubble {
    border-style: solid;
    margin-left: 100px;
    width: 500px;
    margin-right: 50px;
    border-radius: 15px;
    padding: 20px;
    background-color: #716140;
  }

  .bubblegroup {
    display: flex;
    justify-content: space-evenly;

  }