li{
    display:inline;
    float:center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom:1px;
}

li a{
    display:inline;
    text-decoration: none;
    font-size: 17px;
    color:black;
    font-family: sans-serif;
    padding:14px;
    background-color:white;
    text-decoration:none;
    color:black;
}

ul{
  list-style-type: none; 
}

li a:hover{
    color:blue;
}

h1{
  margin-bottom:1px;
  text-align:center;
  font-size:1px;
  color:white;
}

h2{
  text-align:center;
}

h4{
  color:rgb(63, 61, 61);
  margin-left:54px;
  margin-top:40px;
}

p{
  text-align:center;
  margin-left:20px;
  margin-right:20px;
  font-size:18px;
}

img{
  border-radius:5px;
  height:600px;
  width:100%;
}

* {box-sizing:border-box}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}